@model Trips.DAL.DTOs.CityDto

@{
    ViewData["Title"] = "Dodaj miasto";
}

<h1>Dodaj</h1>

<h4>Miasto</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		
		<a asp-controller="Countries" asp-action="Create">Dodaj kraj</a>

		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control"/>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control"/>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				@Html.DropDownListFor(model => model.CountryId,
					new SelectList(ViewBag.CountryList, "Id", "Name"),
					"Select a Country")
			</div>
			<div class="form-group">
				<input type="submit" value="Dodaj" class="btn btn-primary"/>
			</div>
		</form>
	</div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
